/* Custom Styles */
.articles {
    background-image: linear-gradient(180deg, rgb(245, 245, 245), rgb(255, 255, 255))
}

.articles .card-no-border {
    border: none;
}

.articles .custom-image {
    width: 100%;
    height: 225px;
}

.articles .custom-icon {
    width: 2rem;
    height: 2rem;
}